* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #727272;
  background-image: #f9f5f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #5e7c60;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.header.hidden {
  display: none;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 20000;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #333;
}
#logo {
  font-size: 3rem;
  font-weight: 700;
  padding: 5px;
  padding-left: 20px;
  color: #fff;
}
#logo .goa {
  color: #fff;
}
#logo .kreo {
  color: #333;
}
.navbar .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 60px;
}
.navbar ul li a {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
}
.navbar ul li a:hover {
  color: #333;
}
#line-menu {
  display: none;
  color: #fff;
  padding: 5px;
}
.empty {
  height: 65px;
  background-color: #f9f5f2;
}
.section1 {
  background-color: #f9f5f2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  width: 100%;
  height: auto;
  bottom: 0;
}
.section1 img {
  height: 250px;
  width: auto;
  border-radius: 5%;
  align-self: flex-start;
  margin-right: 20px;
}
.section1 h1 {
  margin: 0;
  color: black;
}
.section1 p {
  color: black;
}
.section2 {
  background-color:#d5d6c6;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  height: auto;
  bottom: 0;
}
.section2 img {
  height: 250px;
  border-radius: 5%;
  margin-left: 20px;
}
.section2 h1 {
  margin: 0;
  color: black;
}
.section2 p {
  color: black;
}
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #line-menu {
    display: block;
  }
  .navbar .nav {
    position: fixed;
    right: 100%;
    top: 5.69rem;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 15rem;
    text-align: center;
    border-radius: 10px;
  }
  .navbar .nav a {
    display: block;
    padding: 1rem;
    color: rgb(0, 0, 0);
  }
  .navbar .nav.active {
    right: 0;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  .section1 {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
  }
}
  .section1 img {
      margin-bottom: 10px;
  }
@media (max-width: 450px) {
  .section1 img {
      height: 150px;
      margin-bottom: 10px;
      margin-right: 0;
  }
  #scroll-to-top{
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  .section2 {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .section2 img {
      margin-bottom: 10px;
      align-self: flex-start;
      margin-left: 0;
  }
  .section2 p {
    margin-top: 10px;
}
}
@media (max-width: 450px) {
  .section2 img {
      height: 150px;
      margin-bottom: 10px;
  }
  .section2 p {
    margin-top: 10px;
}
}