* {
  margin: 0;
  padding: 0;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
.header{
  display: flex;
  justify-content: center;
}
.header .button {
  font-size: 100px;
}
tr .des {
  text-align: start;
}

.bi bi-plus-square {
  padding: 10px;
}

header {
  display: flex;
  padding: 20px;
}
