* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Poppins', sans-serif;
    color: #727272;
    min-height: 100vh;
}
.container{
        min-height: 100vh;
        display: flex;
        text-align: center;
        background-image: url(bg.jpg);
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(9, 9, 9, 0.607);
    border-bottom: 1px solid #fff;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#logo {
    font-size: 3rem;
    font-weight: 700;
    padding: 5px;
    padding-left: 20px;
    color: #fff;
}

.navbar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 60px;
}

.navbar ul li a{
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
}

.navbar ul li a:hover {
    color: #727272;
}

#line-menu {
    display: none;
    color: #fff;
    padding: 5px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    color: #fff;
    position: absolute;
    background-color: rgba(9, 9, 9, 0.607);
    bottom: 0%;
    
}

.contact-info ul {
    display: flex;
    font-size: 100px;
}

.contact-info li {
    justify-content: space-between;
    margin: 90px;
    max-width: 100%;
    width: auto;
}

.contact-info a {
    list-style: none;
    color: white;
}

/* .contact-info-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 5%;
    
} */
.mail, .pin, .ig{
    width: 20%;
    height: 20%;
    margin: 0 10%; 
}

    
    
.email a{
    position: absolute;
    bottom: 100px;
    left: 240px;
    color: #fff;
}
.map-pin a{
    position: absolute;
    bottom: 100px;
    left: 770px;
    color: #fff;
}
.instagram a{
    position: absolute;
    bottom: 100px;
    left: 1280px;
    color: #fff;
}

/* .link{
    display: flex;
    color: #fff;
    position: absolute;
    bottom: 10%;
    right: 500px;
    left: 40px;

}
.link a{
  font-size: 90%;
  color: #fff;
  font-weight: 200;
  margin: 0 21%;
} */ 
/* .contact-info{
    color: #fff;
    width: 1920px;
    height: 400px;
    flex-shrink: 0;
    position: absolute;
    background-color: rgba(9, 9, 9, 0.607);
    max-width: 100%;
    bottom: 0%;
}
.contact-info{
    margin-right: 200px;
    font-size: 300px;
} */

.main{
        width: 100%;
        height: 80vh;
        background-color: #727272;
        background-repeat: none;
        background-size: cover;
        background-position: center;   
        display: block;
        align-items: center;
        justify-content: center;

    }
    form{
        background: transparent;
        display: flex;
        flex-direction: column;
        padding: 2vw 4vw;
        width: 30%;
        max-width: 600px;
        border-radius: 10px;
    }
    form h3{
        color:#fff;
        font-weight: 800;
        margin-bottom: 20px;
    }
    form input, form textarea{
        border: 0;
        margin: 10px 0;
        padding: 30px;
        outline: none;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        background: #fff;
        font-size:  16px;
    }
    form button{
        padding: 15px;
        background: #ff5361;
        color: #fff;
        font-size: 18px;
        border: 0;
        outline: none;
        cursor: pointer;
        width: 150px;
        margin: 20px auto 0;
        border-radius: 30px;

    }
/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #line-menu{
        display: block;
    }

    .navbar .nav {
        position: fixed;
        right: 100%;
        top: 5.69rem;
        gap: 0;
        flex-direction: column;
        background-color: #ffffff;
        width: 15rem;
        text-align: center;
        border-radius: 10px;
    }

    .navbar .nav a{
        display: block;
        padding: 1rem;
        color: rgb(0, 0, 0);
    }

    .navbar .nav.active{
        right: 0;
    }

}

/* Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}